#map {
	top:10px;
	bottom: 10px; 
	left: 10px;
	right: 10px;
	
}

#bar_chart {
	bottom: 0px;
	left: 0px

}

#line_chart {
	bottom: 15px;

}

#type_pie{
	top: 10px;
	left: 10px;

}

#status_pie{
	top: 10px;
	right: 50px;

}

.page {
    width: 1000px;
    margin: auto;
    padding: 50px;
	background-color: blanchedalmond;
    padding-top: 35px;
}

body {
	background-color: #2d2513;
}
